.content {
  position: absolute;
  height: auto;
  width: 100%;
  background-color: white;
  padding-bottom: 100px;
}

.container {
  width: 60%;
  margin: auto;
}

.title {
  margin-top: 50px;
  text-align: center;
}

/* ======================== form inputs and labels ============================= */

.form {
  margin-top: 50px;
}

.formDetail {
  margin: 20px 0;
}

.form input {
  width: 99%;
  height: 35px;
  margin-top: 8px;
  outline: none;
}

.form p {
  font-size: 14px;
}

.form label {
  font-size: 14px;
  margin-top: 8px;
}

/* ======================== form buttons and messages ============================= */

.editBtn,
.saveBtn,
.errorMessage,
.successMessage {
  display: inline;
  cursor: pointer;
  margin: 0;
}

.editBtn {
  color: #646c7f;
}

.errorMessage {
  color: red;
}

.successMessage {
  color: green;
}

.saveBtn {
  color: #0073cf;
}

.editBtn:hover {
  color: #0073cf;
}

/* ======================== dropdown ============================= */

.dropdownWrapper {
  position: relative;
}

.dropdownItem {
  height: 35px;
  margin-top: 8px;
  margin-bottom: 4px;
  cursor: pointer;
  border: 1px solid #ccc;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.dropdownItem p {
  font-size: 13px;
}

.dropdownWrapper:hover .dropdown {
  visibility: visible;
}

.dropdown {
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  background-color: white;
  z-index: 2;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  font-size: 14px;
}

.dropdown .dropdownItem {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  color: black;
}

.dropdown .dropdownItem p {
  color: black;
}

.dropdown .dropdownItem:hover {
  background-color: #0073cf;
}

.dropdown .dropdownItem:hover p {
  color: white;
}

/* ======================== submit button ============================= */

.submitBtn {
  height: 40px;
  width: 40%;
  float: right;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.submitBtn:hover {
  box-shadow: rgba(59, 59, 128, 0.2) 0px 7px 29px 0px;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 80%;
  }

  .submitBtn {
    width: 100%;
  }
}
