.content {
  position: relative;
}

.container {
  width: 95%;
  margin: auto;
}

.peopleInfo {
  background-color: white;
  box-shadow: rgba(59, 59, 128, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  min-height: 80vh;
  margin: 30px 0;
  padding: 30px;
}

/* ********************** info from the file ************************** */

/* ======== import button container ========== */
.btnContainer {
  width: 90%;
  /* align-self: center; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btnContainer .errorMsg {
  color: red;
  text-align: center;
}

.peopleInfo .subTitle {
  margin: 0 0 40px 0;
}

/* ======== file name and error updates ========== */
.fileGrid {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 40px;
}

.update {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #646c7f;
  font-size: 14px;
  border-bottom: solid 1px #ccc;
}

.title {
  font-weight: bold;
}

.filename,
.fileErrors {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.filename p {
  margin: 0 12px 0 0;
}

.fileErrors p {
  color: red;
  margin: 0 12px 0 0;
}
/* ======== upload button ========== */

.uploadBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 50%;
  background-color: #0073cf;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  float: right;
}

.fileGrid .errorMsg {
  color: red;
  display: block;
  width: 50%;
  float: right;
}

.uploadBtn p {
  text-align: center;
}

.uploadBtn:hover {
  box-shadow: rgba(59, 59, 128, 0.2) 0px 7px 29px 0px;
}

/* ======== table container ========== */
.fileInfo {
  /* border-radius: 8px; */
  box-shadow: rgba(59, 59, 128, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  margin-top: 30px;
}

.table {
  width: 100%;
  margin-top: 20px;
  border: none;
  padding: 0;
  font-size: 14px;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.table tbody tr {
  border-bottom: solid 1px #ccc;
  margin: 8px 0;
}

.table tbody tr:hover {
  background-color: #f2f2f2;
}

.table th,
td {
  text-align: start;
  padding: 12px;
}

/* ======== edit and delete button ========== */
.actionBtns {
  display: flex;
  float: right;
  align-items: "center";
}

.actionBtns p {
  margin: 0;
}

p.editBtn {
  color: #0073cf;
  margin-right: 20px;
  font-size: small;
  cursor: pointer;
}

.deleteBtn {
  color: red;
  font-size: small;
  cursor: pointer;
}

/* ******************************* mobile ************************************* */
.mobile {
  padding: 20px;
  margin-top: 8px;
  display: none;
}

.dropdown {
  position: relative;
  font-size: 14px;
}

.dropdownTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #ccc;
}

.dropdownMenu {
  background-color: whitesmoke;
  padding: 8px 12px;
  /* color: #646c7f; */
}

.dropdown .btns {
  display: flex;
  justify-content: flex-end;
  padding: 0 8px;
}

.dropdownItem {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.dropdownItem:hover {
  background-color: #f2f2f2;
}

@media only screen and (max-width: 800px) {
  .fileGrid {
    display: block;
    margin: 8px 0;
  }

  .uploadBtn {
    width: 100%;
    float: none;
    margin: 20px 0;
  }

  .fileInfo {
    display: none;
  }

  .mobile {
    display: block;
  }
}
