.button {
  height: 30vh;
  border: dashed 1px #999;
  border-radius: 8px;
  color: #646c7f;
  cursor: pointer;
}

.button p,
em {
  text-align: center;
  display: block;
  align-self: center;
}

.button p {
  font-size: 20px;
}
